@import "../_variables";

$input-slider-enabled-checked-color: 
$input-knob-enabled-checked-color: 

$input-slider-enabled-checked-color: 
$input-knob-enabled-checked-color: 

.label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;

	&.switch {
			opacity: 0;
			width: 0;
			height: 0;
	}
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9f9f9f;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 34px;

	&:before {
		position: absolute;
		content: "";
		height: 24px;
		width: 24px;
		left: -2px;
		bottom: -4px;
		background-color: #3874cb;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
	}
}

// input:disabled + .slider {
//   background-color: #e4eff9;
// 	cursor: not-allowed;

//   &:before {
//     background-color: #AFC8EB;
//   }
// }

input {
	&:disabled {
		&:checked + .slider {

		}
	}
}

input:checked + input:not(:disabled) + .slider {
  background-color: #93B7E4;
}

input:not(:checked) + .slider {
  background-color: #9d9d9d;

	&:before {
			height: 24px;
			width: 24x;
			background-color: white;
			box-shadow: 1px 1px 2px 0 gray,
			-1px 0 2px 0 gray;
	}
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
