@import '../../shared/colors';
@import '../../shared/fonts';

* {
  font-family: $primary-font-family;
}

.label {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.textField {
  height: 23px;
  width: 195px;
  padding: 16.5px 14px;
  margin-top: 20px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
  }

  &::placeholder {
    opacity: 0;
    font-size: 16px;
  }
}

.span {
  font-family: $primary-font-family;
  position: absolute;
  top: -16px;
  left: 5px;
  transform: translateY(15px);
  transition-duration: 300ms;
  padding-left: 10px;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  height: 23px;
  letter-spacing: 0.15px;
}

.label:not(:focus-within) > .textField {
  border: 1px solid rgba(0, 0, 0, 0.25);

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
  }

  ~ .span {
    color: rgba(0, 0, 0, 0.6);
  }
}

.label:focus-within > .span,
.textField:not(:placeholder-shown) + .span {
  color: $primary-color;
  transform: translateY(-13.25px);
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
  font-size: 13.5px;
  left: 9px;
  opacity: 1;
}

.label:focus-within > .textField,
.textField:not(:placeholder-shown) {
  border: 2px solid $primary-color;
}

.label > .textField {
  &.error {
    border-color: $error-color;

    &:hover {
      border: 2px solid $error-color;
    }

    ~ .span {
      color: $error-color;
      opacity: 1;
    }
  }
}
